@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
body h2{
    color: brown;
    margin-bottom: 30px;
}
label{
    /* border: 1px solid; */
  font-size: 1rem;
  color: brown;
  margin-left: 20px;
  
}
form{
    background-color: burlywood;
    height: 45vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding-left: 110px;
    padding-top: 60px;
    border-radius: 10px;
}
input{
     border: none;
   outline:none;
    height: 50px;
    width: 70%;
    margin-top: 30px;
    padding: 10px;
    font-size: 0.9rem;
}
button{
    border: none;
    font-size: 0.9rem;
    color: white;
    border-radius: 10px;
    height: 43px;
    width: 25%;
    background-color: brown;
    margin: 30px 74px 30px;
}
button:hover{
    cursor: pointer;
}
p{
    margin-left: 65px;
    font-size: 0.9rem;
}